body {
  margin: 20px;
}

.timer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field:not(:last-child) {
  margin-right: 40px;
}

.value {
  font-size: 80px;
}
